@import url("https://fonts.cdnfonts.com/css/flama-basic");
@import url('https://fonts.cdnfonts.com/css/poppins');
                
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "FlamaPro-Basic", sans-serif;
  list-style: none;
}
:root{
  /* --top_header_color:#500009; */
}
body{
  font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
  background-color: #f6f6f6;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
}
.navbar .navbar1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  font-size: 0.75em;
  padding-left: 130px;
  padding-right:10px ;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  z-index: 12;
}
.navbar .navbar1 a {
  text-decoration: none;
  color: #500009;
  line-height: 34px;
}
.navbar .navbar1 a:hover {
  color: #d10a10;

}
.navbar .navbar1 ul {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  list-style: none;
}
.meteo{
  display: flex;
  align-items: center;
}
.meteo svg{
  margin-right: 5px;
  fill: #D10A10;
}
.meteo a:hover{
  color: #d10a10;
}
.navbar .nav-container {
  background-color: #D10A10;
  position: fixed;
  top: 35px;
  right: 0;
  left: 0;
  z-index: 23;
}
.top_navbar{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  z-index: 12;  
}
.navbar .nav-container .navbar2 {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 50px;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  align-items: center;
}
.navbar .nav-container .navbar2>ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  text-transform: uppercase;
  padding-left: 15px;
margin-left: 107px;
}
.navbar .nav-container .navbar2>ul li{
  display: flex;
  height: 100%;
  align-items: center;
}
.navbar .nav-container .navbar2>ul li a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 3px 10px;
  border-radius: 4px;
  text-transform: uppercase;
}
.sub_nav{
  display: block;
  position: relative;
  top: 14px;
  z-index: -1;
}
.icon-search{
  fill: #fff;
  stroke: white;
}
.search iconify-icon{
  font-size: 22px;
  cursor: pointer;
  stroke: white;

}
/* .search iconify-icon svg{
  stroke: white;
} */
.search svg{
  cursor: pointer;

}
#search_btn{
  display: none;
}
#checkbtn4{
  z-index: 10;
}

.search_pannel {
  width: 100%;
  height: 0;
  position: fixed;
  top: 85px;
  left: 0;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
  z-index: 3;
}

.search_pannel input{
  font-family: 'Poppins', sans-serif;
  border: 1px solid #f1ebe5;
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 16px;
  color: rgb(24, 23, 23);
  padding: 0 15px;
  color: #292929;
  font-weight: 700;
}

.search_pannel .submit{
  position: absolute;
  top: 7%;
  right: -16%;
  cursor: pointer;
  font-size: 12px;
  width: 80px;
  height: 40px;
  padding: 0;
  border: 0;
  border-radius: 5px;
  background-color: #d10a10;
  color: #fff;
  text-transform: uppercase;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.close{
  display: none;
  color: #fff;
  transition: all .8s ease-in-out;
}

#search_btn:checked~ .sub_nav .search_pannel{
  height: 60px;
  border: 1px solid #f1ebe5;
  transition: all .2s ease-in-out;
}

#search_btn:checked~ label .close{
  display: block;
  transition: all .8s ease-in-out;
}
#search_btn:checked~ label .icon-search{
  display: none;
}
.brand-logo {
  position: absolute;
  top: -25px;
  height: 100px;
  border: 1px solid white;
  box-sizing: border-box;
}
.navbar .nav-container .navbar2>ul li a:hover{
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
}
#checkbtn{
  display: none;
}
.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}
.main_articles {
  display: flex;
  margin-top: 16px;
}

.left {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: calc(100% - 310px);
  min-height: 1px;
  padding: 10px;
}

/* .left .a_la_une{
  display: flex !important;
} */
.left a h2 {
  color: #1867DC;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Google Sans" sans-serif;
}

.left a h2::first-letter {
  text-transform: capitalize;
}

.left_article {
  width: 66%;
  position: relative;
}

.container_left_article {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 20px;
}
.container_left_article2 {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 20px;
  padding-top: 10px;
}

.left_article .image_article {
  width: 100%;
}
.container_left_article2 .left_article .image_article {
  width: 100%;
  height: auto;
}
.container_left_article2 .left_article{
  height: 100% !important;
}
.container_left_article2 .sub_article_title{
  color: #292929;
  margin: 0;
  font-family: "FlamaProSemicond-Bold", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1.375em;
  font-weight: bold;
  line-height: 1.1;
  padding-top: 5px;
  padding-bottom: 20px;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.3);
}
.news{
  height: fit-content;
  position: relative;
}
.sujet{
  position: absolute;
  bottom: 20px;
}


.left_article article {
  display: flex;
  flex-direction: column;
}

.sujet h3 {
  color: #FFFFFF;
  font-size: 24px;
  padding: 20px 10px;
  margin: 0;
  margin-top: 0px;
  margin-top: 0px;
  font-family: "FlamaProSemicond-Bold", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: bold;
  hyphens: manual;
  
}


.right_article {
  display: flex;
  flex-direction: column;
  width: 30%;
  display: flex;
  flex-grow: 1;
  border-top: 1px solid #efe8e1;
  border-bottom: 1px solid #efe8e1 ;
}

.sub_article {
  font-size: .875rem;
  color: #444746;
  font-family: "Google Sans", sans-serif;
  font-weight: 400;
  line-height: 1.4285714286;
  
}

.sub_article {
  height: 50%; 
  position: relative; 
}
.sub_article img{
  height: 100%;
  width: 100%;
}
.label__text{
  position: absolute;
  bottom: 5px;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 20px;
  background: #d10a10;
  color: white;
  font-size: 0.75em;
  padding: 0 6px;
}
.sub_article_title{
  color: #292929;
  margin: 0;
  font-family: "FlamaProSemicond-Bold", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1.375em;
  font-weight: bold;
  line-height: 1.1;
  padding-top: 5px;
  padding-bottom: 30px;
}

.title_subarticle svg {
  opacity: 0;
  font-size: 24px !important;
  fill: #5f6368;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.title_subarticle svg:hover {
  background-color: rgba(60, 64, 67, .08);
}

.sub_article:hover .title_subarticle svg {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.title_subarticle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_subarticle img {
  height: 14px;
  margin-right: 3px;
}

.title_subarticle h5 {
  font-weight: bold;
}

.title_subarticle div:first-child {
  display: flex;
  align-items: center;
}

.big_articles {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.content{
  position: relative;
  display: flex;
  margin-left: 5px;
  border-top: none;
  border-left: 1px solid #efe8e1;
  padding: 7px 10px;
}

.content h4:hover {
  color: #d10a10 !important;
}
.content:nth-child(n+2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  width: calc(100% - 5px);
  height: 1px;
  background-color: #efe8e1;
}
time{
  margin-right: 2px;
  height: fit-content;
  font-size: 14px;
  font-family: "FlamaProSemicond-Bold", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  color: #d10a10;
}
.right {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 310px;
  min-width: 310px;
  max-width: 310px;
  padding: 10px 10px 10px 0;
}

.right .header-list__title {
  display: inline-block;
  max-width: 100%;
  width: fit-content;
  overflow: hidden;
  margin-top: 10px;
  padding: 7px 10px 4px;
  background-color: #d10a10;
  color: #fff;
  font-family: "FlamaProSemicond-Bold", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1.25em;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.right .header-list__link {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
}

/* .button_container p{
  font-size: .875rem;
  line-height: 1.4285714286;
  font-family: "Google Sans", sans-serif;
}
.button_container button{
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  margin-top: 12px;
  padding: 12px 0;
  font-family: "Google Sans Text", "Roboto", sans-serif;
  color: #fff;
  background-color: rgb(26, 115, 232);
  border: 1px solid transparent;
  cursor: pointer;
}
.button_container button:hover{
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
  background-color: #1A65C7;
} */
.big_articles {
  width: 100%;
}

.right .big_articles h4 {
  font-size: 14px;
  font-family: "FlamaProSemicond-Bold", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 17.5px;
  font-weight: 400;
  color: #1f1f1f;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  overflow: hidden;
  -moz-box-flex: 1;
  cursor: pointer;
}

button{
  color: #292929;
  font-family: "FlamaProSemicond-Bold", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #e9e9ed;
  margin-top: 10px;
  cursor: pointer;
}
button:hover{
  color: #D10A10;
}
/* form */
.container-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding:70px 9%; 
}
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #fff;
  padding: 25px 20px;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: #D10A10;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  
}


.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}



.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
  
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
  font-weight: lighter;
}

.form label .input:focus + span,.form label .input + span {
  top: 30px;
  font-size: 0.7em;
  font-weight:500;
}

.submit {
  border: none;
  outline: none;
  background-color: #D10A10;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  
  background-color: #a70409;
}
.link{
  display: none;
}
@media(max-width:664px){
  .video{
    display: none !important;
  }
}
/* responsive index */
@media(max-width:600px){
  .icon-search,.search_pannel,.search {
    display: none;
  }
  .navbar .nav-container .navbar2 a:nth-child(1),.navbar .nav-container .navbar2 > ul{
    display: none !important;
  }
  .navbar2{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
  }
  .top_navbar{
    display: none;
  }
  .brand-logo{
    display: none;
  }
  .brand-logo2{
    display: block;
  }
  .link{display: block;}
  .navbar .nav-container{
    top: 0;
  }
  .below_navbar{
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 12;
  }
  .below_navbar .navbar1 {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 0;
    background-color: #fff;
    text-align: center;
    overflow-x: scroll;
  }
  .below_navbar .navbar1 a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #333;
    font-size: 1.25em;
    font-weight: 400;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 3px 10px;
    border-radius: 4px;
    text-transform: uppercase;
  }
.hamburger{
  display: block;
  padding-left: 0;
  cursor: pointer;
  font-size: 22px;
  cursor: pointer;
  color: white;
  stroke: white;
}

.sidebar{
  height: 100%;
}


.sidebar ul{
  display: block;
  position: fixed;
  top: 50px;
  right: -100%;
  bottom: 0;
  height: calc(100% - 50px);  
  width: 100%;
  background-color: white;
  padding: 0 25px 0 25px;
  transition: all .6s ease-in-out;
  z-index: 11;
}
.search_side{
  position: relative;
  margin-bottom: 40px;
}
.search_side{
  width: 240px;
  height: 40px;
}
.search_side input{
  width: inherit;
  height: inherit;
  outline: none;
  font-size: 14px;
  border:1px solid rgb(212, 210, 210); 
  padding-left: 7px;
}
.search_side svg{
  position: absolute;
  top: 25%;
  right: 5%;
  font-size: 14px;
  color: rgb(136, 136, 136);
  font-weight: 400;
}

.sub_sidebar a{
  display: block;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(85, 85, 85);
  line-height: 20px;
}
.user_sidebar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 5px;
  justify-content: flex-end;
}
.quitter{
  display: none;
  font-size: 22px;
  cursor: pointer;
  color: white;
  stroke: white;
}
.sidebar ul ol{
  margin:20px 0;
  width: 88%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social_sidebar{
  display: flex;
  column-gap: 25px;
  justify-content: center;
  margin-top: 40px;
}


#checkbtn:checked~.sidebar ul{
  right:0;
  transition: all .8s ease-in-out;
  position: fixed;
}

#checkbtn:checked~ label .quitter{
  display: block;
}
#checkbtn:checked~ label .hamburger{
  display: none;
}
.section {
  background-color: yellow;
  width: 100%;
}
}
@media(max-width:450px){
  .below_navbar .navbar1{
    max-width: 90%;
    overflow-x: scroll;

  }
}