@import url("https://fonts.cdnfonts.com/css/flama-basic");
@import url('https://fonts.cdnfonts.com/css/poppins');
                
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "FlamaPro-Basic", sans-serif;
}
body{
  font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.navbar .navbar1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  font-size: 0.75em;
  padding-left: 130px;
  position: relative;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;

}
.navbar .navbar1 a {
  text-decoration: none;
  color: #500009;
  line-height: 34px;
}
.navbar .navbar1 a:hover {
  color: #d10a10;

}
.navbar .navbar1 ul {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  list-style: none;
}
.meteo{
  display: flex;
  align-items: center;
}
.meteo svg{
  margin-right: 5px;
  fill: #D10A10;
}
.meteo a:hover{
  color: #d10a10;
}
.navbar .nav-container {
  background-color: #D10A10;
}
.navbar .nav-container .navbar2 {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 50px;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
}
.navbar .nav-container .navbar2 ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  text-transform: uppercase;
  padding-left: 15px;
margin-left: 107px;
}
.navbar .nav-container .navbar2 ul li{
  display: flex;
  height: 100%;
  align-items: center;
}
.navbar .nav-container .navbar2 ul li a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 3px 10px;
  border-radius: 4px;
  text-transform: uppercase;
}
.sub_nav{
  display: block;
  position: relative;
  top: 14px;
  z-index: 889;
}
.icon-search{
  fill: #fff;
  stroke: white;
}
.search iconify-icon{
  font-size: 22px;
  cursor: pointer;
  stroke: white;

}
/* .search iconify-icon svg{
  stroke: white;
} */
.search svg{
  cursor: pointer;

}
#search_btn{
  display: none;
}
#checkbtn4{
  z-index: 10;
}
/* .search_pannel{
  top: 40px;
  left: 0;
  width: 100vw;
  height: 0;
  background-color: white;
  z-index: 1;
  position: absolute;
  overflow: hidden;
  transition: all .8s ease-in-out; //
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  transform: translateY(-1px);
  transition: ease-out 0.2s height, ease-out 0.2s transform;
  border-bottom: 1px solid #f1ebe5;
  background-color: #fff;
  overflow: hidden;
} */
.search_pannel {
  width: 100vw;
  height: 0;
  position: absolute;
  top: 0;
  right: 71%;
  transform: translate(45%);
  background-color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
}

.search_pannel input{
  font-family: 'Poppins', sans-serif;
  border: 1px solid #f1ebe5;
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 16px;
  color: rgb(24, 23, 23);
  padding: 0 15px;
  color: #292929;
  font-weight: 700;
}

.search_pannel .submit{
  position: absolute;
  top: 7%;
  right: -16%;
  cursor: pointer;
  font-size: 12px;
  width: 80px;
  height: 40px;
  padding: 0;
  border: 0;
  border-radius: 5px;
  background-color: #d10a10;
  color: #fff;
  text-transform: uppercase;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.close{
  display: none;
  color: #fff;
  transition: all .8s ease-in-out;
}

#search_btn:checked~ .sub_nav .search_pannel{
  height: 60px;
  border: 1px solid #f1ebe5;
  transition: all .2s ease-in-out;
}

#search_btn:checked~ label .close{
  display: block;
  transition: all .8s ease-in-out;
}
#search_btn:checked~ label .icon-search{
  display: none;
}
.brand-logo {
  position: absolute;
  top: -25px;
  z-index: 891;
  height: 100px;
  border: 1px solid white;
  box-sizing: border-box;
}
.navbar .nav-container .navbar2 ul li a:hover{
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
}
.section {
  background-color: yellow;
  width: 100%;
}/*# sourceMappingURL=style.css.map */